body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.recipe {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}

.recipe img {
    max-width: 100%;
    border-radius: 5px;
}

.recipe h3 {
    color: #333;
    font-size: 1.2em;
    margin: 10px 0;
}

.recipe p {
    color: #777;
    font-size: 0.9em;
    margin: 5px 0;
}


.search-bar{
    width: 500px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}